SERVER_PORT=8082

# Database
URL_BD=jdbc:postgresql://localhost:5432/bd_spm
DB_USERNAME=user_bd_spm
DB_PASSWORD=votre_mot_de_passe_ici

# JWT
JWT_SECRET=votre_secret_jwt_tres_long_ici
JWT_EXPIRATION=1500000

# Mail (SMTP)
SPRING_MAIL_USERNAME=votre_email@gmail.com
SPRING_MAIL_PASSWORD=votre_mot_de_passe_application_ici

# URLs
APP_BACKEND_URL=http://localhost:8082
APP_FRONTEND_URL=http://localhost:5173

# OAuth Google
GOOGLE_CLIENT_ID=votre_google_client_id_ici
